:root {
  --color-primary: #010101;
  --color-secondary: #101010;
  --color-page-bg: #fff;
  --color-card-bg: #fff;
  --color-card-border: #eee;
  --color-text: #000;
  --color-text-on-primary: #fff;
  --color-text-on-secondary: #fff;
  --color-text-disabled: #444;
}

body {
  color: var(--color-text);
  background-color: var(--color-page-bg);
}