.home {
    background-image: linear-gradient(to bottom, rgba(var(--color-primary-rgb), 1) 5%, rgba(var(--color-primary-rgb), 0) 95%), 
                      linear-gradient(to top, rgba(var(--color-primary-rgb), 1) 5%, rgba(var(--color-primary-rgb), 0) 95%), 
                      linear-gradient(to right, rgba(var(--color-primary-rgb), 1) 5%, rgba(var(--color-primary-rgb), 0) 95%), 
                      linear-gradient(to left, rgba(var(--color-primary-rgb), 1) 5%, rgba(var(--color-primary-rgb), 0) 95%), 
                      url('../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animated-part {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    opacity: 0;
    animation: slide-in 1s ease-out forwards;
}

@keyframes slide-in {
    from {
        opacity: 0;
        margin-top: 25vh;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

.short-description {
    max-width: 90vw;
    padding-bottom: 4vh;
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 4rem);
    color: var(--color-text-on-primary);
}

.start-btn-container {
    display: flex;
}

.start-btn {
    width: 128px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-text-on-primary);
    background-color: var(--color-primary);
    border-radius: 8px;
}

.start-btn.play {
    background-color: rgb(98, 54, 101);
    margin-right: 16px;
}

.start-btn.about {
    background-color: rgb(94, 118, 187);
    margin-left: 16px;
}

@keyframes info-wait {
    from {
        max-height: 0;
        padding-top: 0;
        margin-bottom: 0;
    }
    to {
        max-height: unset;
        padding-bottom: 64px; /* Scroll (because of translateY) */
        margin-bottom: 64px;
    }
}

.info {
    width: calc(100% - 128px);
    max-height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: translateY(calc(100% + 64px));
    background-color: var(--color-page-bg);
    animation: info-wait 0s ease-out 1.1s forwards;
}

.about {
    display: flex;
}

h1 {
    margin: 0;
    margin-top: 20vh;
    font-size: clamp(3rem, 5vw, 8rem);
    color: var(--color-secondary);
}

h3 {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 24px;
}